<div class='container'>
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #receiverForm="ngForm" (ngSubmit)="addReceiver(receiverForm)">
                        <h1>Nuevo Destinatario</h1>
                        <input type="hidden" name="_id" #name="ngModel" [(ngModel)]="receiverService.selectedReceiver._id">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" name="rut" #rut="ngModel" 
                                [(ngModel)]="receiverService.selectedReceiver.rut" placeholder="RUT"
                                autocomplete="off">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="name" #name="ngModel" 
                                [(ngModel)]="receiverService.selectedReceiver.name" placeholder="Nombre Destinatario"
                                autocomplete="off">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="mail" #mail="ngModel"
                                [(ngModel)]="receiverService.selectedReceiver.mail" placeholder="mail Destinatario"
                                autocomplete="off">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="phone" #phone="ngModel" 
                                [(ngModel)]="receiverService.selectedReceiver.phone" placeholder="Teléfono"
                                autocomplete="off">
                            </div>
                            <div class="input-field col s12">
                                <input list="destinationBank" name="destinationBank" #destinationBank="ngModel" 
                                [(ngModel)]="receiverService.selectedReceiver.destinationBank" placeholder="Ingrese el banco"
                                autocomplete="off">
                                <datalist id="destinationBank">
                                    <option value="Banco Ripley">
                                    <option value="Banco Desarrollo"> 
                                    <option value="Banco Estado">
                                    <option value="Banco Chile">
                                    <option value="Banco Santander">
                                    <option value="Banco Edwars">
                                    <option value="Banco BCI">
                                </datalist>
                            </div>
                            <div class="input-field col s12">
                                <input list="accountType" name="accountType" #accountType="ngModel" 
                                [(ngModel)]="receiverService.selectedReceiver.accountType" placeholder="Tipo de cuenta"
                                autocomplete="off">
                                <datalist id="accountType">
                                    <option value="Corriente">
                                    <option value="Vista">
                                    <option value="Ahorro">
                                    <option value="rut">
                                    <option value="Chequera electrónica">
                                </datalist>
                            </div>
                            <div class="input-field col s12">
                                <input type="Text" name="accountNumber" #accountNumber="ngModel" 
                                [(ngModel)]="receiverService.selectedReceiver.accountNumber" placeholder="No De Cuenta"
                                autocomplete="off">
                            </div>
                            <div class="card-action">
                                <div class="input-field col s12">
                                        <button class="btn right">Crear</button>
                                        <button class="btn left" (click)="resetForm(receiverForm)">Cancelar</button>
                                </div> 
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <div class="card">
                <h2>Destinatarios</h2>
                <table style="border: 1px solid rgba(88, 88, 88, 0.13);">
                    <thead>
                        <th>Destinatario</th>
                        <th>Datos del Banco</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let receiver of receiverService.receivers">
                            <td style="border: 1px solid rgba(88, 88, 88, 0.13);">
                                <li class="no-bullets">
                                    <p>Rut: {{ receiver.rut }}</p>
                                    <p>Nombre: {{ receiver.name }}</p>
                                    <p>Correo: {{ receiver.mail }}</p>
                                </li>
                            </td>
                            <td style="border: 1px solid rgba(88, 88, 88, 0.13);">
                                <li class="no-bullets">
                                   <p>Banco: {{ receiver.destinationBank }}</p>
                                   <p>Tipo de cuenta: {{ receiver.accountType }}</p>
                                   <p>Número de cuenta: {{ receiver.accountNumber }}</p>
                                </li>
                            </td>
                            <td style="border: 1px solid rgba(88, 88, 88, 0.13);">
                                <a (click)="editReceiver(receiver)">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a (click)="deleteReceiver(receiver._id)">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                        </tr>
    
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
</div>
<router-outlet></router-outlet>